.table {
    display: table;
    width: 100%;
    border-spacing: none;
    border-collapse: collapse;
    min-width: 400px;
    tr {
        border-bottom: 1px solid #121314 !important;
        background: transparent;
        &:hover {
            color: $light-blue;
        }
    }
    td {
        position: relative;
        padding: 0.5em;
        line-height: 19px;
        font-size: 14px;
    }
    &.table-tracks {
        tr.active-track {
            color: $light-blue;
            background: rgba(#121314, 0.8);
        }
    }
    .tooltip-info {
        top: 3px;
        left: -125px;
        display: none;
        height: auto;
        background: rgba(#121314, 0.8);
    }
}