.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.line-through {
    text-decoration: line-through;
    color: #888;
}

.block {
	display: block;
	width: 100%;
}

.inline-block {
	display: inline-block;
}

.no-margin {
	margin: 0;
}

.center {
    display: block;
    clear: both;
    margin-right: auto !important;
    margin-left: auto !important;
}